:root {
    --color01: #000;
    --color02: #fff;
    --color03: #406bc6;
    --color04: #55679C;
    --color05: #1E2A5E;
    --color06: #E1D7B7;
}
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: var(--color02);
    background-color: var(--color06);
}

a {
    text-decoration: none;
    color: var(--color02);
}

ul {
    list-style-type: none;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color03);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-shadow: 0 2px 0 rgba(52, 52, 52, 0.4);
    z-index: 10;
}

.primary-nav {
    display: flex;
    margin-right: 2rem;
}

.primary-nav a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #000;
    background-image: var(--color01);
}

#welcome-section h1 {
    font-size: 3rem;
    text-align: center;
}

#welcome-section p {
    font-size: 1.5rem;
    text-align: left;
}

.project-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    width: 50%;
    max-width: 1280px;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

#projects .project-list-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: var(--color04);
    text-decoration: underline;
    margin-bottom: 2rem;
}


.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 1rem;
}



.project-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    width: 50%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3rem;
}